/* Global Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header Css */

/*First section banner (16-inch MacBook Pro) */


/* Second section banner (iPhone 11 Pro) */